* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
}

strong {
  font-weight: 500;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/* Main Menu UL */
.about-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about-menu li,
.about-menu summary {
  padding: 5px 10px;
  font-weight: 500;
  color: #3d005f;
  cursor: pointer;
}

.about-menu details ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.about-menu details li a {
  color: #333;
  font-size: 0.95rem;
}

.about-menu details li a:hover {
  color: #000;
  text-decoration: underline;
}

.about-menu details summary {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.about-menu details summary::before {
  content: '▶';
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 0.8rem;
  transition: transform 0.3s;
}

.about-menu details[open] summary::before {
  content: '▼';
}

.pointers {
  padding-left: 20px;
  list-style-type: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1rem;
}

.pointers li {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  font-weight: lighter;
}

.committees p {
  font-weight: lighter;
}

.top-full-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* optional */
}

.about-menu li a,
.about-menu summary {
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: large;
}

