
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

strong {
  font-weight: bold;
}

.pointers {
  /*For UL*/
  padding-left: 40px;
  list-style-type: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2rem;
}

.pointerss {
  /*For OL*/
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2rem;
  padding-left: 25px;
  padding-right: 15px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/* Remove default arrow */
details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.academics-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.academics-table th,
.academics-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.academics-table thead th {
  background: radial-gradient(circle, #652b7c 40%, #d15eff 100%);
  /* Dark maroon */
  color: #ffffff;
  font-weight: bold;
}

.academics-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.academics-table ol {
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

.academics-table li {
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

.gallery {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centers horizontally */
  align-items: center;
  gap: 20px; /* Spacing between images */
}

.gallery img {
  border-radius: 20px;
  
  max-width: 100%;
  display: inline;
}

.gallery img:hover{
  border-right: 7px solid #d15eff;
/*   transform: translateY(-6px); */
}
