* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

strong {
  font-weight: bold;
}

.pointers {
  /*For UL*/
  padding-left: 40px;
  list-style-type: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2rem;
}

.pointerss {
  /*For OL*/
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2rem;
  padding-left: 25px;
  padding-right: 15px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/* Remove default arrow */
details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.academics-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.academics-table th,
.academics-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.academics-table thead th {
  background: radial-gradient(circle, #652b7c 40%, #d15eff 100%);
  /* Dark maroon */
  color: #ffffff;
  font-weight: bold;
}

.academics-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.academics-table ol {
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

.academics-table li {
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

#mor-semester-details {
  color: #652b7c ;
}

h4 {
  margin-left: 45px;
}

.phd-programme-details {
  padding-left: 30px;
}

.phd-programme-details h4 {
  padding-top: 5px;
}

.phd-programme-details p {
  padding-left: 35px;
  margin-bottom: 10px;
}

h5 {
  margin-left: 50px;
}


.placement-stats-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.placement-card {
  flex: 1;
  min-width: 330px;
  background-color: #d15eff13;
  padding: 25px 30px;
  border-radius: 10px;
  border: 1.5px solid #652b7c ;
  box-shadow: 0 2px 8px rgba(128, 0, 0, 0.15);
  font-family: 'Segoe UI', sans-serif;
}

.placement-card h3 {
  color: #652b7c ;
  font-size: 22px;
  border-bottom: 2px solid #652b7c ;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.placement-card p {
  margin-bottom: 12px;
  font-size: 15.5px;
  color: #333;
  line-height: 1.6;
}

.placement-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

.placement-list li {
  margin-bottom: 8px;
  font-size: 15.5px;
}

.placement-list li strong {
  color: #000;
}
